@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");

body {
  font-family: "Exo 2", sans-serif;
  font-family: "Varela Round", sans-serif;
  background-size: cover;
  background-color: black;
  color: white;
  height: 100vh;
}

.header {
  height: 15%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header_btn {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  width: 10%;
}
.header_btn div a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_btn div a i {
  font-size: 22px;
}

.weather {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.weather img {
  width: 80px;
  height: 80px;
}

.contents {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents h2 {
  font-weight: 600;
  font-size: 100px;
  margin-bottom: 50px;
}

#quote {
  font-size: 26px;
  margin-top: 150px;
}

#todo-list button {
  margin-right: 15px;
  color: rgb(255, 51, 0);
}

.login-form {
  position: relative;
}

input[type="text"] {
  width: 250px;
  height: 40px;
  background: transparent;
  border: none;
  border-bottom: 2px solid RGB(109, 109, 109);
  color: white;
  font-size: 18px;
}

input::placeholder {
  color: whitesmoke;
  font-size: 18px;
}
.login_btn {
  background: transparent;
  border: 2px solid rgb(109, 109, 109);
  height: 40px;
  position: absolute;
  right: -50px;
  bottom: 0;
  color: white;
  font-size: 18px;
  transition: all 0.5s;
}

.login_btn:hover {
  cursor: pointer;
  background-color: rgb(109, 109, 109);
}

#greeting {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
}
#quote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 2;
  text-align: center;
}
.hidden {
  display: none;
}

@media (max-width: 475px) {
  .header .weather {
    font-size: 18px;
  }
  .header_btn {
    padding: 0 15px;
  }
  .header_btn div a {
    font-size: 12px;
  }
  .header_btn div a i {
    font-size: 18px;
  }
  #clock {
    font-size: 70px;
  }
}
